@model GameShop.MVC.ViewModels.GameViewModel

@{
    ViewData["Title"] = "Obriši Igru";
}

<h1>Obriši Igru</h1>

<h3>Da li ste sigurni da želite da obrišete ovu igru?</h3>
<div>
    <h4>@Model.Title</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Genre)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Genre)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Price)</dt>
        <dd class="col-sm-10">@Model.Price.ToString("N2") RSD</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.ReleaseDate)</dt>
        <dd class="col-sm-10">@Model.ReleaseDate.ToShortDateString()</dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Obriši" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-secondary">Odustani</a>
    </form>
</div>